*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:monospace;
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    background-color: white;
    height: 100%;
    width: 100%;
}
#nav{
    background-color:// red;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px ;
}
#nav-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#nav h3{
    font-size: 16px;
    border: 1.5px solid black;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 50px;
}
#nav i{
    font-size: 16px;
    border: 1.5px solid black;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 50px;
}
#nav h2{
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
}
#nav button{
    padding: 7px 12px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    background-color: white;
}
#btn2{
    background-color: red;
    color: blue;
}
#main>h1{
    color: black;
    font-size: 100px ;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    width: 100%;
    text-align: center;
    
}
img{
    height: 320px;
    width: 270px;
    object-fit: cover;
    object-position: top;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

#img2{
 transform: translate(-50%, -50%) rotate(-30deg); 
}
#img3{
 transform: translate(-50%, -50%) rotate(-20deg); 
}
#img4{
 transform: translate(-50%, -50%) rotate(-10deg); 
}
#btm-left{
    position: absolute;
    bottom: 5%;
    left: 5%;
    font-size: 17px;
}

